/* ข้อความด้านล่างสุด */
.credit{
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);

    font-size: 40px;
    font-weight: 900;
    letter-spacing: 3px;
    text-align: center;

    color: #FFD700;
    text-shadow:
        0 0 10px #FFD700,
        0 0 20px #FF69B4,
        2px 2px 8px rgba(0,0,0,0.6);

    animation: glow 2s infinite alternate;
}

/* เอฟเฟกต์เรืองแสง */
@keyframes glow{
    from{
        text-shadow:
            0 0 10px #FFD700,
            0 0 20px #FF69B4;
    }
    to{
        text-shadow:
            0 0 20px #FFD700,
            0 0 35px #FF1493,
            0 0 50px #FFFFFF;
    }
}
